.Quizzy {
  font-family: 'Circe-Regular';
  margin-top: 250px;
  color: #ff499e;
  font-size: 300px;
}

.DoIt {
  margin-top: -70px;
  margin-left: 20px;
  font-family: 'Circe-Regular';
  font-size: 35px;
  color: #dae0f2;
}

.StartButton {
  margin-left: 20px;
  font-family: 'Circe-Bold';
  margin-top: 150px;
  text-align: center;
  padding: 20px;
  width: 350px;
  height: 15px;
  background-color: #ff499e;
  color: #ffffff;
  border-radius: 10px;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
}
